* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 393px;
  height: 878px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v126_543 {
  width: 735px;
  height: 100%;
  background: url("../images/v126_543.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 226px;
  overflow: hidden;
}
.v126_544 {
  width: 346px;
  height: 74px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 47px;
  overflow: hidden;
}
.v126_549 {
  width: 360px;
  height: 87px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 10px;
  overflow: hidden;
}
.v11_5 {
  width: 352px;
  height: 74px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 46px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v11_8 {
  width: 89px;
  height: 21px;
  background: rgba(226,224,224,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 2px;
  overflow: hidden;
}
.v12_11 {
  width: 68px;
  height: 19px;
  background: rgba(226,224,224,1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 77px;
  overflow: hidden;
}
.v8_18 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 477px;
  left: 57px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v17_184 {
  width: 356px;
  height: 86px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 559px;
  left: 6px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v17_182 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 567px;
  left: 13px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v11_9 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 448px;
  left: 72px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v7_16 {
  width: 306px;
  height: 89px;
  background: url("../images/v7_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 434px;
  left: 170px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v1_5 {
  width: 116px;
  height: 155px;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 116px;
  height: 155px;
  background: url("../images/v1_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 116px;
  overflow: hidden;
}
.v1_7 {
  width: 118px;
  height: 179px;
  background: url("../images/v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 0px;
  overflow: hidden;
}
.v1_8 {
  width: 114px;
  height: 179px;
  background: url("../images/v1_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 118px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v17_186 {
  width: 352px;
  height: 74px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 46px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v17_136 {
  width: 393px;
  height: 50px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 828px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v17_196 {
  width: 404px;
  height: 137px;
  background: url("../images/v17_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 667px;
  left: 5px;
  overflow: hidden;
}
.v17_189 {
  width: 205px;
  height: 136px;
  background: url("../images/v17_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v17_190 {
  width: 204px;
  height: 136px;
  background: url("../images/v17_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 210px;
  overflow: hidden;
}
.v17_191 {
  width: 204px;
  height: 136px;
  background: url("../images/v17_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 419px;
  overflow: hidden;
}
.v17_193 {
  width: 206px;
  height: 136px;
  background: url("../images/v17_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 628px;
  overflow: hidden;
}
.v17_192 {
  width: 206px;
  height: 137px;
  background: url("../images/v17_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 839px;
  overflow: hidden;
}
.v17_194 {
  width: 202px;
  height: 134px;
  background: url("../images/v17_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1050px;
  overflow: hidden;
}
.name {
  color: #fff;
}
