* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v12_18 {
  width: 393px;
  height: 1479px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v126_553 {
  width: 735px;
  height: 100%;
  background: url("../images/v126_553.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1664px;
  left: 366px;
  transform: rotate(-154deg);
  overflow: hidden;
}
.v126_551 {
  width: 788px;
  height: 651px;
  background: url("../images/v126_551.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 210px;
  overflow: hidden;
}
.v17_147 {
  width: 393px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1435px;
  left: 0px;
  overflow: hidden;
}
.v17_395 {
  width: 181px;
  height: 272px;
  background: url("../images/v17_395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1097px;
  left: 206px;
  overflow: hidden;
}
.v17_369 {
  width: 89px;
  height: 21px;
  background: rgba(250,239,193,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 2px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v126_555 {
  width: 211px;
  height: 300px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 1px;
  overflow: hidden;
}
.v126_556 {
  width: 211px;
  height: 280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 14px;
  overflow: hidden;
}
.v126_560 {
  width: 211px;
  height: 285px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1086px;
  left: 13px;
  overflow: hidden;
}
.v126_558 {
  width: 211px;
  height: 240px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 15px;
  overflow: hidden;
}
.v17_361 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 135px;
  left: 10px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_371 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 519px;
  left: 9px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_378 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 826px;
  left: 10px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_390 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1158px;
  left: 11px;
  font-family: Manjari;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_403 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 10px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v17_404 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 461px;
  left: 6px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v17_406 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 767px;
  left: 7px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v17_408 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1100px;
  left: 10px;
  font-family: Manrope;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
